<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="/assets/manifest.json" />

    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <span id="btn">Update</span>

    <h1 class="title">Hello, world</h1>

    <img src="/images/helloworld.png" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>

    <script>
      window.vapid = '<%= htmlWebpackPlugin.options.VAPID_PUBLIC_KEY %>'
    </script>
  </body>
</html>
