<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="/assets/manifest.json" />

    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <span id="btn">Update</span>

    <h1 class="title">Hello, world</h1>

    <img src="/images/helloworld.png" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>

    <script>
      var endpoint
      var key
      var authSecret
      // We need to convert the VAPID key to a base64 string when we subscribe
      function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - (base64String.length % 4)) % 4)
        const base64 = (base64String + padding)
          .replace(/\-/g, '+')
          .replace(/_/g, '/')

        const rawData = window.atob(base64)
        const outputArray = new Uint8Array(rawData.length)

        for (let i = 0; i < rawData.length; ++i) {
          outputArray[i] = rawData.charCodeAt(i)
        }
        return outputArray
      }

      function determineAppServerKey() {
        var vapidPublicKey = '<%= htmlWebpackPlugin.options.VAPID_PUBLIC_KEY %>'

        return urlBase64ToUint8Array(vapidPublicKey)
      }

      // index
      function main() {
        if ('serviceWorker' in window.navigator && 'PushManager' in window) {
          navigator.serviceWorker
            .register('/assets/sw.js')
            .then(function(registration) {
              return registration.pushManager
                .getSubscription()
                .then(function(subscription) {
                  if (subscription) {
                    // We already have a subscription, let's not add them again
                    return
                  }

                  return registration.pushManager
                    .subscribe({
                      userVisibleOnly: true,
                      applicationServerKey: determineAppServerKey()
                    })
                    .then(function(subscription) {
                      var rawKey = subscription.getKey
                        ? subscription.getKey('p256dh')
                        : ''
                      key = rawKey
                        ? btoa(
                            String.fromCharCode.apply(
                              null,
                              new Uint8Array(rawKey)
                            )
                          )
                        : ''

                      var rawAuthSecret = subscription.getKey
                        ? subscription.getKey('auth')
                        : ''
                      authSecret = rawAuthSecret
                        ? btoa(
                            String.fromCharCode.apply(
                              null,
                              new Uint8Array(rawAuthSecret)
                            )
                          )
                        : ''

                      endpoint = subscription.endpoint

                      return fetch('https://xiaows127.com/apis/register', {
                        method: 'post',
                        headers: new Headers({
                          'content-type': 'application/json'
                        }),
                        body: JSON.stringify({
                          endpoint: endpoint,
                          key: key,
                          authSecret: authSecret
                        })
                      }).then(
                        function(res) {
                          console.log('注册成功')
                        },
                        function(err) {
                          console.log(err)
                        }
                      )
                    })
                })
            })
            .catch(function(err) {
              // registration failed :(
              console.log('ServiceWorker registration failed: ', err)
            })
        }
      }

      main()
    </script>
  </body>
</html>
