<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="/assets/manifest.json" />

    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <span id="btn">Update</span>

    <h1 class="title">Hello, world</h1>

    <img src="/images/helloworld.png" />

    <span id="btn2" style="font-size: 40px">Apis</span>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>

    <script>
      window.vapid = '<%= htmlWebpackPlugin.options.VAPID_PUBLIC_KEY %>'
    </script>

    <script>
      fetch('/apis/userinfo', {
        method: 'get',
        headers: new Headers({
          'content-type': 'application/json'
        })
      })
        .then(function(res) {
          return res.clone().json()
        })
        .then(function(ret) {
          console.log(ret)
        })
        .catch(function(e) {
          console.error(e)
        })
    </script>

    <script>
      fetch('http://localhost:8422/list', {
        method: 'get',
        headers: new Headers({
          'content-type': 'application/json'
        }),
        mode: 'cors'
      })
        .then(function(res) {
          return res.json()
        })
        .then(function(ret) {
          console.log(ret)
        })
        .catch(function(err) {
          console.log(err)
        })
    </script>
  </body>
</html>
